<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boardgame News</title>
    <script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>
    
<!-- Nav -->
    <nav class="navbar">
        <button class="scrape-button">Get the News</button>    
      </nav>    
    <div class="wrapper">
        
            {{{body}}}
        
    </div>
    <script src="./assets/javascript/app.js"></script>
    <footer class="footer"><div class="text-center bg-secondary text-white ">Copyright &copy; Erik Hurst 2018</div></footer>
    
    
</body>




</html>