<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rotten Onion Web Scraper</title>
</head>

<body>
    
<!-- Nav -->
    <nav class="navbar">
                 
      </nav>    
    <div class="wrapper">
        
            {{{body}}}
        
    </div>
    <footer class="footer"><div class="text-center bg-secondary text-white ">Copyright &copy; Erik Hurst 2018</div></footer>
    
    
</body>




</html>