<div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">{{title}}</h3>
      <p>{{summary}}</p>
      <a class="ui large button add-note">Add Note</a>
    </div>
</div>