<div class="ui inverted vertical masthead center aligned segment">
<h1>Sup World</h1>
</div>
<div class="ui vertical stripe segment">
    {{>articles}}
</div>


<div id="save-modal" class="ui modal">
  {{!-- <i class="close icon"></i> --}}
  <div class="image content">
      <div class="ui header">Article Saved</div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button model-close">
      Great!
    </div>
  </div>
</div>


<div id="remove-modal" class="ui modal">
  {{!-- <i class="close icon"></i> --}}
  <div class="image content">
      <div class="ui header">Article Removed</div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button model-close">
      Great!
    </div>
  </div>
</div>

