<div class="ui inverted vertical masthead center aligned segment">
<h1 class="ui inverted header">Gaming News</h1>
</div>
<div class="ui vertical stripe segment">
    {{>articles}}
</div>


<div id="save-modal" class="ui modal">
  {{!-- <i class="close icon"></i> --}}
  <div class="image content">
      <div class="ui header">Article Saved</div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button model-close">
      Great!
    </div>
  </div>
</div>


<div id="remove-modal" class="ui modal">
  {{!-- <i class="close icon"></i> --}}
  <div class="image content">
      <div class="ui header">Article Removed</div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button model-close">
      Great!
    </div>
  </div>
</div>


<div id="form-modal" class="ui modal">
  {{!-- <i class="close icon"></i> --}}
  <div class="image content">
      <div class="ui header">Enter A Note
      </div>
  </div>
  <div class="notesContainer">

  </div>
  <form class="ui form">
    <div class="field">
      <label>Short Text</label>
      <textarea id="content" rows="2"></textarea>
      <button class="ui basic blue button btn-note-add">Add a Note</button>
    </div>
  </form>
</div>


